#board-container {
	display: inline-block;
	background-color: #6a6a6a;
	padding: 30px;
	border-radius: 20px;
}

#board {
	display: inline-grid;
	grid-row-gap: 4px;
	row-gap: 4px;
}

.feedback-pin-container {
	background-color: darkgray;
	margin: 0px;
	padding: 0px;
}

.feedback-count-display {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 80%;
	height: 80%;
	padding: 10%;
	font-size: 250%;
}

.feedback-pin {
	display: inline-block;
	border: solid 1px black;
	border-radius: 100%;
	width: 30%;
	height: 30%;
	margin: 30%;
}

.pin-container {
	background-color: lightgray;
}

.pin {
	display: inline-block;
	border: solid 1px black;
	border-radius: 100%;
	width: 40%;
	height: 40%;
	margin: 25%;
	background-color: #818181;
}

body {
	text-align: center;
	font-family: arial;
}